 {% extends 'base.html'%} {% import 'macros.html' as macro%}

<!-- Content block -->
{% block content %}

<!-- General News -->
<h3>News Headline World Wide</h3>
<ul>
    {{ macro.displayNewList(general)}}
</ul>

<h3>Technology Trendings</h3>
<ul>
    {{ macro.displayNewList(technology)}}
</ul>

<h3>Science News</h3>
<ul>
    {{ macro.displayNewList(science)}}
</ul>

<h3>Entertainment News</h3>
<ul>
    {{ macro.displayNewList(entertainment)}}
</ul>

<h3>Health News</h3>
<ul>
    {{ macro.displayNewList(health)}}
</ul>

<h3 class="mt-5">Sport News</h3>
<ul>
    {{ macro.displayNewList(sports)}}
</ul>

<h3>Bussiness News</h3>
<ul>
    {{ macro.displayNewList(business)}}
</ul>
{% endblock%}