{% macro displayNewList(source_list) %} {% for source in source_list %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card-body">
                <h3 class="card-title"><strong>{{source.name}}</strong></h3>
                <p>{{source.description}}</p>
                <button class="btn btn-success p-2"><a href="{{source.url}}" target="_blank">Get Article</a></button>

                <h4><strong>Country:: {{source.country}}</strong></h4>
            </div>
        </div>
    </div>
    <a href="/article/{{source.id}}">
        <p class="text-capitalize text-muted">{{source.id}}</p>
    </a>
</div>
{% endfor %} {% endmacro %}