{% macro displayNewList(source_list) %} {% for source in source_list %}

<div class="row row-cols-1 row-cols-md-1 g-4 d-flex">

    <div class="col p-3">
        <div class="card p-3">
            <!-- <img src="{{ source.urlToImage }}" class="card-img-top" alt=""> -->
            <div class="card-body">
                <h3 class="card-title">{{source.name}}</h3>
                <p><strong>{{source.description}}</strong></p>
                <p> <a href="{{source.url}}" target="_blank">Read More</a></p>
                <h4><strong>Country:: {{source.country}}</strong></h4>
            </div>
        </div>
    </div>
</div>{% endfor %} {% endmacro %}