{% macro displayNewList(source_list) %} {% for source in source_list %}
<div class="col-md-3 mt-4" id="Categories">
    <div class="card articles">
        <div class="card-header">
            <h3 class="card-title"><strong>{{source.name}}</strong></h3>

        </div>

        <div class="card-body">
            <p class="fs-5"> {{source.description|truncate()}} </p>
            <hr>
            <button class="btn btn-secondary p-2"><a class="text-light fs-4" href="{{source.url}}" target="_blank">Get Articles</a></button>
        </div>
    </div>
</div>

{% endfor %} {% endmacro %}