 {% extends 'base.html'%} {% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}"> {% endblock %}

<!-- Content block -->
{% block content %}

<h1>Trending News Source</h1>

<ul>
    {% for source in sources %}
    <div class="row row-cols-1 row-cols-md-1 g-4 d-flex">
        <div class="col p-3">
            <div class="card p-3">

                <div class="card-body">
                    <h3 class="card-title">{{source.name}}</h3>
                    <p><strong>{{source.description}}</strong></p>
                    <button class="btn btn-success p-2"><a href="{{source.url}}">Read More</a></button>
                </div>

            </div>
        </div>
    </div>
    {%endfor%}
</ul>
{% endblock%}